.c-form
  text-align: left
  .c-form__inner
    max-width: 600px
    margin-left: auto
    margin-right: auto
  .c-form__heading
    margin-bottom: 25px
    color: midnightblue
  .c-form__group
    min-height: 90px
    + .c-form__group
      margin-top: 20px
  .c-form__label
    padding-left: 12px
  .c-form__help
    padding-left: 12px
    font-size: 16px
    color: #c00
    opacity: 0
    transition: oacity  .3s
  .c-form__action
    display: flex
    width: 100%
    justify-content: flex-start
    align-items: center
    font-size: 30px
    color: lime
    text-transform: uppercase
  .c-form__controls
    &.has-error
      .c-form__help
        opacity: 1

+MQ(1280px)
  .c-form
    .c-form__inner
      min-width: 600px

